#root {
  margin: 0 auto;
  padding: 2rem;
}

* {
  user-select: none;;
}

body {
  height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
  margin: 0; /* Supprime les marges par défaut */
}

.neumorphic-text {
  font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: clamp(2rem, 10vw, 5rem);
    font-variant: small-caps;
    position: fixed;
    padding : 20px;
    top: 70px;
    left: 350px;
    translate: -50% -50%;
    color: transparent;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.505), 
        -2px -2px 1px rgba(36, 36, 36, 0.707); 
    background: linear-gradient(to bottom, #000000b4, #555555ae);
    -webkit-background-clip: text;
    background-clip: text;
    user-select : none;
    color: #858484;
    z-index: -1;
    text-align: center;
}

.navBar {
  position : fixed;
  left : 50px;
  z-index : 20000
}


body.home-background {
  background-color: #2a2623;
}

body.wilder-background {
  background-color: black;
}

body.default-background {
  background-color: #e9e6cc
}

/* From Uiverse.io by css.fullCases-io */ 


.fullCase {
  position: fixed;
  top : 10px;
  right : 10px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .fullCase .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .fullCase .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     #2a2723(340deg 100% 16%) 0%,
     #302d28(340deg 100% 32%) 8%,
     #302d28(340deg 100% 32%) 92%,
     #2a2723(340deg 100% 16%) 100%
   );
 }
 
 .fullCase .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #201e1b;(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .fullCase:hover {
  filter: brightness(110%);
 }
 
 .fullCase:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 .fullCase:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 .fullCase:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 .fullCase:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 .fullCase:focus:not(:focus-visible) {
  outline: none;
 }




@media screen and (max-width: 1550px) and (min-height : 700px) {
  .neumorphic-text {
    display: none;
  }
}

@media screen and (max-width: 1250px) and (max-height : 700px) {
  .neumorphic-text {
    display: none;
  }
}
